/* styles/ActivityCard.css */
.card {
    position: relative;
    width: 350px;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .overlay {
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* Dark overlay for better text visibility */
}

.card .text {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    justify-content: center;
}

.card .content {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #fff;
    font-size: 16px;
    justify-self: center;
}
