.header-container{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 5px auto;
    border-bottom: 1px solid gray;
    padding: 5px 0;
    align-items: center;
}

.logo-description{
    display: flex;
    gap: 10px;
    align-items: center;
}
.logo-description h2{
    font-size: 20px;
    font-weight: bold;
}
.logo{
    width: 50px;
}

select .header-select{
    width: 50px;
    height: 20px;
    background-color: white;
    color: blue;
    border: 1px solid black;
    font-size: 10px;
    margin-top: 10px;
}